[submodule "load-tester-api"]
	path = load-tester-api
	url = https://github.com/luisfelix-93/load-tester-api
[submodule "load-tester-app"]
	path = load-tester-app
	url = https://github.com/luisfelix-93/load-tester-app
[submodule "load-tester-worker"]
	path = load-tester-worker
	url = https://github.com/luisfelix-93/load-tester-worker
[submodule "dns-cert-api"]
	path = dns-cert-api
	url = https://github.com/luisfelix-93/dns-cert-api
